#!/bin/sh
# Nicolas Mauger
# 07 Oct. 2016
# crontab

# h d m y commande                                  w  file              e
0 0 * * * sqlite3 /tmp/data.db < database_purge.sql >> /var/log/cron.log 2>&1

